* {
    box-sizing: border-box;
}
html{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 40px;
    text-shadow: 2px 2px lightslategray;
}
body {
    width: 12em;
    text-align: center;
    margin: auto;
}
header, aside, section, article, footer {
    border: solid 1px black;
}
