/* MOBILE */
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
header{
    width: 100%;
    line-height: 1.875em;
}
.full {
    flex-direction: column;
    flex: 1;
}
aside {
    line-height: 3.75em;
    width: 100%;
}
.sec {
    flex-direction: column;
}
.art {
    flex-direction: row;
}
.sec > section{
    line-height: 3.125em;
    flex: 1;
}
.art > article{
    line-height: 6.25em;
    width: 50%;
}
footer{
    line-height: 2em;
    width: 100%;
}
/* TABLET */
@media only screen and (min-width: 768px){
    body {
        width: 19.2em;
        margin: auto;
    }
}
/* DESKTOP */
@media only screen and (min-width: 960px){
    body{
        width: 24em;
        margin: auto;
    }
    aside{
        width: 5em;
        line-height: 15em;
    }
    .sec , .art{
        flex: 1;
        flex-direction: row;
    }
    .sec > section{
        line-height: 5em;
    }
    .art > article {
        line-height: 6.25em;
        width: 25%;   
    }
    footer{
        line-height: 3.75em;
    }
}
