header{
    width: 100%;
    line-height: 1.875em;
}
aside{
    width: 100%;
    line-height: 3.75em;
}
footer{
    width: 100%;
    float: left;

}
.flexContainer{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flexSections{
    line-height: 3.175em;
    width: 100%;
}
.flexArticles{
    flex-direction: row;
    width: 50%;
    line-height: 6em;
    float: left;

}

/* @media only screen and (min-width: 680px){
    header{
        width: 100%;
        line-height: 1.875em;
    }
    aside{
        width: 100%;
        line-height: 3.75em;
    }
    footer{
        height: 2em;
        line-height: 2em;
    
    }
    .flexContainer{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .flexSections{
        flex-wrap: wrap;
        line-height: 3.175em;
        width: 100%;
    }
    .flexArticles{
        flex-wrap: wrap;
        width: 50%;
        line-height: 6em;
    }
} */